
<div class="container-fluid">
    <div class="row p-5 bg-dark text-white">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h4">Hoteles Anime Carlton</p>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Ubicado en la zona que te imagines.</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h4 mb-3">Otros Hoteles</p>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Evangelion</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Overlord</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Dragon Ball</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Claymore</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-3">Links</p>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Terms & conditions</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-3">Contacto</p>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#"><i class="bi bi-instagram"></i> Instagram</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#"><i class="bi bi-facebook"></i> Facebook</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#"><i class="bi bi-github"></i> Github</a>
            </div>
        </div>
        <div class="col-xs-12 pt-5">
            <p class="text-secondary text-center">&copy; Created by STC - 2022</p>
        </div>
    </div>
</div>
